html,body {
    background-image : url(../img/backround4.jpg);
    background-size : cover;
    height: 100%;
    margin: 0;
    padding:0;
}

main{
    flex: 1 0 auto;
}

#header{
    background-color: #ecd977d5;
    z-index: 1000;
}

.btnHeaderText{
    font-weight: bold;
    color: black;
}

#rightPartHeader{
    
}

.firstPartFormModals{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.secondPartFormModals{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom : 5%;
}

#colonneLeft{

    background-color: #EEEBF7;
    box-shadow: 1px 0px 5px grey;
    flex: 1 0 auto;
}


#centralColonne{
    
}

#innerColLeft{

}

#innerColLeft2{

}

.colonneRight{

}

#innerColRight{

}

#innerColRight2{

}

table tr td  {
    border: 1px solid black;
  }

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11%;
  }
  

/*.colonne{
margin-left: 1%;
margin-right: 1%;
}
*/