
main{
}


#header{
    background-color: red;
    z-index: 10000000;
}

.btnHeaderText{
    font-weight: bold;
    color: black;
}

#rightPartHeader{
    
}


#colonneLeft{
    margin-left: 10px;
    background-color: grey;
}

#centralColonne{
    background-color: yellow;
}

#innerColLeft{

}

#innerColLeft2{

}

.colonneRight{

}

#innerColRight{

}

#innerColRight2{

}

table tr td  {
    border: 1px solid black;
  }

/*.colonne{
margin-left: 1%;
margin-right: 1%;
}
*/