html,body {
    height: 100%;
    margin: auto 0;
    padding:0;
}


#header{
    background-color: #FA7F5A;
    z-index: 1000;
}

.btnHeaderText{
    font-weight: bold;
    color: black;
}

#rightPartHeader{
    
}


#colonneLeft{

    background-color: #EEEBF7;
    z-index: 500;
    box-shadow: 1px 0px 5px grey;
}

#centralColonne{
    
}

#innerColLeft{

}

#innerColLeft2{

}

.colonneRight{

}

#innerColRight{

}

#innerColRight2{

}

table tr td  {
    border: 1px solid black;
  }

/*.colonne{
margin-left: 1%;
margin-right: 1%;
}
*/